<h3 class="ui center aligned medium icon header">
  <i class="circular at inverted blue icon"></i>
  Messenger
</h3>

<div class="ui column grid" style="margin-top: 1.5rem">

  <div class="twelve wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <a class="ui blue ribbon label">Activity Feed</a>
        <div class="ui feed">
          <%= render "messages/messages" %>
        </div>
      </div>
      <div class="extra content">
        <%= form_for(@message, html: {class: "ui reply form", role: "form"}, url: message_path) do |f| %>
          <div class="field">
            <div class="ui fluid icon input">
              <%= f.text_field :body %>
              <%= f.button '<i class="bordered inverted blue edit icon"></i>'.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui secondary vertical pointing menu">
          <a class="active item">
            Home
          </a>
          <a class="item">
            Messages
          </a>
          <a class="item">
            Friends
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
